

body,
::before,
::after{
    margin: 0px;
    padding: 0px;
}

    h1,h2,h3,h4 {
        margin: 0px;
        padding: 0px;
    } 

    ul, ol{
        margin: 0px;
        padding: 0px;
        list-style: none;
    }

    a{
        text-decoration: none;
    }
    
    

    :root{

      --navcolorlink: rgb(61, 44, 48);
      --navcolorlinkhov:  rgb(64, 163, 255);
    }


    body {
        font-family: 'Roboto',
        sans-serif;
        font-weight: 400;
 
    }
    
    .container{
        
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
    }

    .section{
        margin-top: 60px;
        margin-bottom: 60px;
        padding-top: 30px;
        padding-bottom: 30px;
    }

    

    h2 {
        font-size: 30px;
        line-height: 1.5; 
        text-transform: uppercase;
    }


    /*----------------banner-----------------*/

    .banner{
        display: flex;
        width: 300px;
        height: 80px;

        position: fixed;
        top: 100px;
        left: 160px;

        background-color: rgba(80, 191, 251, 0.5);
        border-radius: 10px;

        justify-content: center;
        align-items: center;
        flex-direction: column;

        transition-property: background-color, transform;
        transition-duration: 1000ms;
        transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
        transition-delay: 0;
        z-index: 3;
    }

    .banner-link{
        display: block;
        color: #ffffff;
    }

    .banner:hover{
        
        background-color: rgba(6, 75, 112, 0.9);
        transform: translate(150%, 150%) scale(1.5);

    }


    .scroll{
        display: flex;
        justify-content: center;
        align-items: center;

        position: fixed;
        bottom: 100px;
        right: 300px;

        color:rgba(43, 103, 255, 0.5);
    }

    .scroll-icon{
        fill: currentColor;
    }

    .scroll:hover{
        color:rgba(4, 50, 169, 0.9);
    }

    /*==============HEADER===================*/

    .site_head{

        border-bottom: 1px solid gray;
        padding-top: 25px;
        padding-bottom: 25px;

    }

    /*==============LOGO===================*/
     
    .logo{
        font-family: 'Raleway',
            sans-serif;
            font-weight: 700;
            font-size: 3em;
            color: crimson;
            text-decoration: none;

    }
    .logo span {
        color: dodgerblue;
    }
    /*==============/LOGO===================*/
    
    .menu{

        display: flex;
        align-items: center;
        justify-content: space-around;
     
    }

    .menuitem {
        display: flex;
        list-style: none;
    }
    

    .item:not(:last-child){
       margin-right: 3em;
    }

    .link {
        display: block;
        text-decoration: none;
        text-transform: uppercase;
        font-family: 'Raleway', sans-serif;
        font-size: 20px;
        color: var(--navcolorlink);
    }
            
    .link:hover, .link:focus{

        color: var(--navcolorlinkhov);
        text-shadow: 5px 5px 4px rgba(210, 209, 209, 0.7);
    }

    /*==============/HEADER===================*/

    /*==============HERO===================*/
    .hero{
        display: flex;
        height: 550px;
        max-width: 1400px;

          
        background-color: rgb(210, 209, 209); 

        background-image: linear-gradient(rgba(210, 209, 209, 0.2), rgba(210, 209, 209, 0.2)), url(./images/Self_Managing_Teams.jpg);
        background-position: center;
        object-fit: contain;
        background-repeat: no-repeat;

        justify-content: center;
        align-items: center;
        margin: 0 auto;

        padding-bottom: 60px;
        margin-bottom: 60px;
    }

    .hero-title{

        display: flex;

        padding: 50px 30px; 

        text-transform: uppercase;
        font-size: 900;
        color: rgb(255, 255, 255);
        border-radius: 5px;

        justify-content: center;
        align-items: center;

        background-color: rgba(78, 77, 77, 0.8);

    }

    /*==============/HERO===================*/

    /*==============PRODS===================*/


    .section-title{

        text-align: center;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 50px;
     }
    
    .prod-list{
      
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        gap:30px;
     
    }

    
  
    .prod-card {

        position: relative; 
        display:flex;
        justify-content: center;
        align-items: center;

        flex-direction: column;

        width: 350px;
        height: 300px;

        padding: 20px;
        background-color: rgb(248, 248, 248);

        border-radius: 5px;

        box-shadow: 5px 5px 4px 2px rgb(157, 157, 157), 
        3px 3px 3px 1px rgb(212, 211, 211);

        transition: transform 250ms linear;
      
    }

    .prod-card:hover{
        transform: scale(150%);
        z-index: 1;
        box-shadow: 
        0px 0px 45px 40px rgb(157, 157, 157), 
        0px 0px 0px 7px rgb(212, 211, 211);
       
    }
    
   
    .thumb {
        display: block;
        width: 300px;  
        margin: 0px, 10px;
        margin-bottom: 20px;

    }

    .prod-foto{
        display: inline-block;
        width: 95%;

        margin-bottom: 20px;
    }

   

    .prod-card > h3 {

        display: block;
        margin: 0px;
        padding:0px;
        max-width: 350px;
        text-align: center;
        margin-bottom: 25px;

        text-transform: uppercase;
          
    }

    .prod-card > p{
    
        display: block;
        margin: 0px;
        padding:0px;
        max-width: 350px;
        text-align: center;
        margin-top: auto;
        margin-bottom: 20px;

        font-size: 18px;


        color: rgb(55, 88, 251);
    }


    /*==============/PRODS===================*/

    .article-h{
        margin: 0;
        padding: 0;

        text-align: center;
        margin-bottom: 50px;
    }

    .article-text{
        margin: 0;
        padding: 0;

        font-size: 20px;
    }
    


    .page-footer{
        padding-top: 30px;
        padding-bottom: 30px;
   
        background-image: linear-gradient(rgba(100, 100, 100, 0.8), rgba(100, 100, 100, 0.8));
    }

    .footer-item a{
        color: #ffffff;
    }

    .footer-item:not(:last-child){
      margin-bottom: 5px;
    }